@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @if (Model.Employees != null)
    {
        <table class="table">        
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.job)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hobby)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.birthdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.favouritepicturelink)
                        </td>                    
                    </tr>
                }
            </tbody>
    </table>
    }


</div>
